
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
}

.grand-titre {
  
  background-color: #fcce00;
  font-size: 88px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
 
  
}

.sous-titre {
  
  background-color: #ff6b00;
  font-size: 38px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 8px;
 
 

}

.deco-entete {
  background-color: #e02020;
  height: 32px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.deco-entete-2 {
  background-color: #b620e0;
  height: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.deco-entete-3 {
  background-color: #6236ff;
  height: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}


.titre1{

  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #231f20;
}

.colonne-gauche-1{
  text-align: justify;
  display: flex;
  width: 50%;
  float: left;

}
.titre2{

  font-size: 24px;
  text-align: center;
  font-weight: bold;
  color: #231f20;
}


  li,
  .texte1 {

    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    color: #231f20;


  }

  .bouton1{

  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #fcce00;
  border: 2px solid #fcce00;
  padding: 6px;
  border-radius:15px;
  text-decoration: none;
  float: right;

  }

  .bouton2{

    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #ff6b00;
    border: 2px solid #ff6b00;
    padding: 6px;
    border-radius:15px;
    text-decoration: none;
    float: right;
  

  }

  
.titre3{

    font-size: 32px;
    text-align: left;
    font-weight: 900;
    color: #ffffff;

}

.texte2{

  font-size: 24px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;

}


.bouton3{

  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;

}

.titre4{

  font-size: 40px;
  text-align: center;
  font-weight: 900;
  color: #ffffff;

}
p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/